* {
    margin: 0;
    padding: 0;
}

.my-class {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px -19px 10px 13px black;
    padding: 0 2em;
}

ul {
    list-style: none;
}

.nav-link {
    display: flex;
}

.nav-link > li {
    margin: 0 20px;
}

.nav-link > li > a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 0 2em;
}
